.categories {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 160px;
  margin-inline: auto;
}

.category Img {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
